{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
<br>
<br>
<br>
<br>
<br>
<br>
    <h1 class="champs h3 mb-3 font-weight-normal text-center" style="text-decoration: underline"><b>Connectez-vous pour ajouter votre CV !</b></h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label  class="champs" for="inputEmail" style="margin-left: 720px"><b>Email</b></label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <br>
    <br>
    <label class="champs" for="inputPassword"  style="margin-left: 690px"><b>Mot de passe</b></label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <a href="{{ path('profil') }}"><button class="btn btn-lg btn-primary" style="margin-left: 680px; margin-top: 50px" type="submit">
        Connexion
        </button></a>
    <a href="{{ path('app_register') }}"><button class="btn btn-lg btn-primary" style="margin-left: 590px; margin-top: 20px" type="button">
            Pas de compte? c'est par là !
        </button></a>
</form>
{% endblock %}
