{% extends 'base.html.twig' %}

{% block title %}Hello LogoutController!{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="offset-3">
            <h1>You are logged in as {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a><h1>
        </div>
    {% endif %}

{% endblock %}
